<%= form_for(task) do |f| %>
  <p>
    <%= f.label :content, "タスク:"%>
    <%= f.text_field :content %>
  </p>

  <p>
    <%= f.label :status, "ステータス:" %>
    <%= f.text_field :status %>
    <%= f.submit "投稿" %>
  </p>
<% end %>