<ul class="media-list">
  <% tasks.each do |task| %>
    <% user = task.user %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(task.user, options = { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
      
          <div class="row">
                <div class="col-xs-4"><%= link_to task.id, task %></div>
                <div class="col-xs-4"><%= task.content %></div>
                <div class="col-xs-4"><%= task.status %></div>
          </div>
          

      </div>
    </li>
  <% end %>
  <%= paginate tasks %>
</ul>